 <div class="container-fluid">
        <div class="row">
            <h2 id="delivery">Доставка</h2>
            <div>
                <p>
                <ul>Доставка відбувається з понеділка по суботу з 8:00 до 20:00 Якщо Ви бажаєте, щоб ми зробили доставку в неділю, Вам потрібно зробити замовлення в суботу до 16:00.
                 <li>• Вартість доставки в центральній частині м. Львова - 60 грн. інші райони міста - 100 грн.</li>
                 <li>• Замовлення потрібно зробити не пізніше чим за 3 години до події. </li>
                 <li>• Якщо Вам потрібно зробити доставку квітів на ранок, в такому випадку замовлення слід зробити до 18:00 попереднього дня!</li>
                 </ul></p>
            </div>
        </div>
    </div>