<div class="container-fluid payment">
        <h2 id="pay">Оплата</h2>
        <div class="row">
            <div class="col-sm-4 pay">
                <div class="row">
                    <img class="pay_img" src="photo/cash.jpg" alt="">
                </div>
                <div class="row">
                    <h5>Готівкою</h5>
                    <p>
                        Оплату можна здійснити готівкою через курє'ра (вартість додаткового виїзду курє'ра по м. Львові - 60 грн</p>
                </div>
            </div>
            <div class="col-sm-4 pay">
                <div class="row">
                    <img class="pay_img" src="photo/credit.jpg" alt="">
                </div>
                <div class="row">
                    <h5>Карткою</h5>
                    <p>

                        Visa/Mastercard через систему інтернет-платежів Liqpay Visa/Mastercard + Liqpay Картка має бути авторизованою для платежів в інтернеті</p>
                </div>
            </div>
            <div class="col-sm-4 pay">
                <div class="row">
                    <img class="pay_img" src="photo/bank.jpg" alt="">
                </div>
                <div class="row">
                    <h5>На розрахунковий рахунок</h5>
                    <p>
                        нашого магазину Детальна інформація за телефоном +38 (096)123-888-5</p>
                </div>
            </div>
        </div>
    </div>